<%= form_with model: [:cancancan, post] do |form| %>
  <p><%= 'Title' %></p>
  <%= form.text_field :title %>
  <p><%= 'Content' %></p>
  <%= form.text_area :content %>
  <div>
    <%= form.label :published %><br>
    <%= form.check_box :published, value: true  %><br>
  </div>
  <%= form.submit %>
<% end %>
