  <%= form_with model: [:pundit, post], id: 'postForm' do |form| %>
  <% if is_new %>
    <h2>New Post</h2>
  <% end %>
  <div class="formItem">
    <%= form.label 'Title' %>
    <%= form.text_field :title %>
  </div>
  <div class="formItem">
    <%= form.label 'Content' %>
    <%= form.text_area :content %>
  </div>
  <div class='buttonsContainer'>
    <% if is_new %>
      <%= form.submit name: 'draft', value: 'Create Draft', class: "secondaryButton" %>
    <% else %>
      <%= link_to 'Cancel', pundit_post_path(post), class: 'secondaryButton' %>
    <% end %>
    <% submit_name = is_new ? 'Create Post' : ( post.published? ? 'Update Post' : 'Publish Post') %>
    <%= form.submit value: submit_name, class: "primaryButton"  %>
  </div>
<% end %>
