  <%= form_with model: [:pundit, post], id: 'postForm' do |form| %>
  <% if is_new %>
    <h2>New Post</h2>
  <% end %>
  <div class="formItem">
    <%= form.label 'Title' %>
    <%= form.text_field :title %>
  </div>
  <div class="formItem">
    <%= form.label 'Content' %>
    <%= form.text_area :content %>
  </div>
  <div class='buttonsContainer'>
    <%= form.submit name: 'draft', value: 'Create Draft', class: "secondaryButton" %>
    <!-- TODO: cancel option ----->
    <%= form.submit class: "primaryButton"  %>
    <!-- TODO: cancel option ----->
  </div>
<% end %>
